/* Body styles */
body {
    font-family: Arial, sans-serif; /**/
    background-color: #c1c9f7;
    color: #222;
    line-height: 1.6;
    padding: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
    font-weight: bold;
}

.texto1 {
    color: rgb(0, 255, 242);
    background-color: rgb(0, 0, 0);
}

.importante {
    background-color: yellow;
    font-weight: bold;
}

/* Links */
a {
    color: red;
    text-decoration: none;
    margin-right: 2em;
}

a:hover {
    text-decoration: underline;
}


/*A partir de aquí es la pagina CSS-ARCHIVO*/
#cabecera {
    background-color: darkkhaki; /*color de fondo*/
    color: black; /*color del texto*/
    padding: 10px 0; /*espaciado de 10 pixeles arriba y 0 a los laterales*/
    text-align: center; /*centrar el texto*/
    margin-bottom: 20px; /*espacio abajo*/
    border-bottom: 2px solid black; /*linea debajo del header*/
}